@import "../../styles/main";

.card-buysource {
  border: 1px solid rgba(166,173,201,.2);
  border-radius: .25rem;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

  .bg-img {
    background-size: cover;
    min-height: 180px;
    background-position: center;
    
    img {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  .content {
    padding: 15px;
  
    a {
      text-decoration: none;
      line-height: normal;
    }
  }
}