@import "../variables";

.card-list-buysource {
  max-width: 100%;
  padding: 0 16px 0 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

@media (min-width: $breakpoint-mobile) {
  .card-list-buysource {
    max-width: 70%;
    margin: 0 auto 30px;
  }
}